<div class="skills" id="skills">
    <h5 class="seccion-skills"> Skills & Hardworking</h5>
    <div class="cardsGroup">
        <div *ngFor="let skill of skills" >
            <div class="card" style="width: 18rem;">
            <img src={{skill?.url_logo}} class="card-img-top imagen-habilidad" alt="...">
            <div class="btn-edit" (click)="setInfo(skill)" *ngIf="isUserLogged" data-bs-toggle="modal"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
                <h6> {{skill?.name}}</h6>
            </div>
        </div>
    </div>
</div>