.bannerCode{
    width: 100%;
    background-position: right right;
}

.profilePicture{
    width: 15%;
    margin-left: 5%;
}

.logo{
    width: 4.5%;
    height: 40;
    align-content: left;
    margin: -10px 0 0 5px;
    /* display: flex; */
    float: left;
}

.fuenteAP{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    font-size: 105%;
    margin: 0.65%;
    margin: 15px 0 10px 20px;
    /* Arriba -- derecha--abajo-- izquierda */
    /* margin-top: 20px; */
    line-height: 50%;
}

/* .fuentAP img{
    float:  ;
} */