<div class="about-container"*ngFor="let person of personas" id="about">
    <div class="row contenido" >
        <div class="col-md-6 col-12 imagen">
            <h4 class ="modal-title"> About me </h4>
            <div class="capaColor" style="font-family:Arial ;"></div>
            
        </div>
        <div class="col-md-6 col-12 texto">
            <div class="btn-edit" (click)="setInfo(person)" *ngIf="isUserLogged" data-bs-toggle="modal" data-bs-target="#myModal" ><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
            <p> {{person?.about_me}}</p>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar información sobre mi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div>
                    <form #editFormSobreMi="ngForm">
                        <div class="form-group">
                            <label for="about_me">Sobre mi: </label>
                            <textarea type="textarea" maxlength="500" rows="10" cols="10" ngModel="{{edit?.about_me}}" name="about_me" class="form-control inputs-edit" id="about_me" placeholder="Agrega una descripción sobre ti"></textarea>
                        </div>
                        <input type="hidden" ngModel="{{edit?.id}}" name="id" class="form-control" id="id">
                        <input type="hidden" ngModel="{{edit?.name}}" name="name" class="form-control" id="name">
                        <input type="hidden" ngModel="{{edit?.last_name}}" name="last_name" class="form-control" id="last_name">
                        <input type="hidden" ngModel="{{edit?.ocuppation}}" name="ocuppation" class="form-control" id="ocuppation">
                        <input type="hidden" ngModel="{{edit?.phone}}" name="phone" class="form-control" id="phone">
                        <input type="hidden" ngModel="{{edit?.email}}" name="email" class="form-control" id="email">
                        <input type="hidden" ngModel="{{edit?.adress}}" name="adress" class="form-control" id="adress">
                        <input type="hidden" ngModel="{{edit?.url_image}}" name="url_image" class="form-control" id="url_image">
                        <input type="hidden" ngModel="{{edit?.url_cv}}" name="url_cv" class="form-control" id="url_cv">                        
                        
                        <button (click)="editPersona(editFormSobreMi.value)" class="btn" type="submit" data-bs-dismiss="modal" aria-label="Close">Guardar cambios</button>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>