.black-background{
    background-color: gray;
}

.modal-content {
    background: #1a1922  !important;
    border: 1.5px solid grey;
    border-radius: 1rem;
}

.fuenteAP{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    font-size: 100%;
    margin: 0px 0px 10px 0;
    /* Arriba -- derecha--abajo-- izquierda */
    margin-top: 10px;
    line-height: 75%;
    color: white;
    /* margin-block-start: 0.83em !important;;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}
/* class="card bg-dark text-white" style="border-radius: 1rem;" */