<nav class="navbar navbar-b navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo" src="/assets/images/logoAP.png" alt="logo AP" height="50px">
            <h1 class="fuenteAP"> Argentina </h1>
            <h2 class="fuenteAP"> Programa</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0" >
                <div class="navbar-nav">
                    <a class="nav-link" href="#encabezado">Home</a>
                    <a class="nav-link" href="#about" style="transition-delay: 100ms">Acerca de mi</a>
                    <a class="nav-link" href="#projects" style="transition-delay: 200ms">Proyectos</a>
                    <a class="nav-link" href="#skills" style="transition-delay: 300ms" >Habilidades y otros</a>
                </div>
            </ul>
        </div>
        <!-- <div>
            <a class="nav-link" mat-button routerLink="/login"  *ngIf="!isUserLogged" routerLinkActive="active" class="btn-login"><i class="fa-solid fa-right-to-bracket"></i></a> 
        </div> -->
        <div *ngIf="isUserLogged, then cerrarSesion else iniciarSesion"></div>
        <ng-template #cerrarSesion>
            <button type="button" class="btn boton ms-md-5" (click)="logOut()"><i class="fa-solid fa-right-from-bracket"></i> CERRAR
                SESION</button>
        </ng-template>
        <ng-template #iniciarSesion>
                <button type="button"  class="btn boton ms-md-5" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" ><i class="fa-solid fa-right-to-bracket me-2"></i> INICIAR
                    SESION</button>
        </ng-template>
    </div>
  </nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <app-iniciar-sesion></app-iniciar-sesion>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>