.proyectos{
    background-color:hsl(180, 63%, 6%);
    width: 100%;
    height: fit-content;
    padding: 170px 30px;
    color: var(--color1);
    position: relative;
    height: auto;
   
}

.btn-agregar{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 2rem;
}

.card-body{
    max-height: 300px;
    max-width: 300px;
    height: 90vh;
}

img{
    flex-basis: fit-content;
    max-width: 90%;
    /* max-inline-size: 72%; */
    /* margin: 15%; */
    max-height: 70%;
}

.capaColor{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 80;
    background-color:hsl(180, 63%, 6%);
    opacity: 70%;    
}
.imagen{
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.seccion-proyectos{
    font-size: 50px;

    margin-bottom: 100px;
    text-align: center;
    /* text-decoration:underline; */
    color: aliceblue;
    font-family: Arial Black;
}

.card{
    position: relative;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
    background-color: #fafafa63;
}

h6{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}

.card-group{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.modal-title{
    font-family: Arial ;
    font-size: 15px;
    text-indent: 5px;
    font-weight: bold;
    margin: 0;
}
.card:hover{
    box-shadow: 2px 2px 10px;
    transition: all 0.5s;
    background-color: white;
}