<div class="proyectos" id="projects" >
    <div>
    <h4 class="seccion-proyectos"> Projects</h4>
    <div class="card-group ">
        <div id="projects"*ngFor="let project of projects">
            <div class="col">
                <div class="card">
                    <div class="card-body ">
                        <h6 class="card-title nombre"> {{project?.name}}</h6>
                        <p class="card-text descripcion"> {{project?.description}}</p>
                        <a [href]="project?.url_project">Repositorio</a>
                    </div>
                    <div class="btn-edit" (click)="setInfo(project)" *ngIf="isUserLogged" data-bs-toggle="modal"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>