

  <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-16 col-md-15 col-lg-6 col-xl-10">
        <div >
            <div class="card-body p-5 text-center">
                <form [formGroup]="form" id="enter-login" (ngSubmit)="onSubmit($event)">
                  <div class="mb-4">
                    <label for="name" class="form-label" style="color: white; font-weight: bolder;">Usuario</label>
                    <input type="text" name="name" formControlName="name" class="form-control" placeholder="Usuario" required>
                  </div>
                  <div class="mb-4">
                      <label for="password" class="form-label" style="color: white; font-weight: bolder;" >Contraseña</label>
                      <input type="password" name="password" formControlName="password" class="form-control" placeholder="Contraseña" required>
                  </div>
                  <div *ngIf="loginError" class="text-danger">Las credenciales ingresadas no existen en nuestros registros.</div>
                  <button  class="enter-login" type="submit" [disabled]="form.invalid"  class="btn" style ="background-color:white" >Log in</button>
                  <!-- <button routerLink="/home" class="btn" style="background-color:white">Cancelar</button> -->
                </form>
            </div>
        </div>
    </div>
  </div>
